.menu {
  color: var(--pink);
  display: flex;
  background: var(--white);
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  width: 100%;
  text-align: center;
  padding: 2rem;
  position: absolute;
  top: 0;
  left: 0;
  transform: translateX(-100%);
  transition: transform 0.3s ease-in-out;
  z-index: 1;

  li {
    padding: 15px 5px;
  }
  
  a {
    color: var(--purple);
    font-size: 1.5em;
    text-decoration: none;
    cursor: pointer;
    transition: color 0.3s linear;

    &:hover {
      color: var(--pink);
    }
  }

  &.openMenu{
    transform: translateX(0);
  }


}
